MONGODB_URI=
MONGODB_DB_NAME=
PORT=3001
BK_APP_SEED_EMPTY_DB=false
DARKBK_FORUM_TOPIC_API_KEY=
BOOTSTRAP_ADMIN_LOGIN=
BOOTSTRAP_ADMIN_DISPLAY_NAME=Геральт из Ривии
BOOTSTRAP_ADMIN_PASSWORD=
BK_APP_ALLOWED_ORIGINS=http://localhost:5173
BK_APP_COOKIE_SECURE=false
BK_APP_COOKIE_SAME_SITE=lax
